
@use "componentes"; 
// botones 
// Barra de navegacion
//iconos
// feature
// ventajas 
// flujo
// separador



@use "global";
//seccion navegacion
//seccion Home  
//seccion beneficios    
// seccion ventajas
//seccion indicadores   
// seccion footer
// responsive